# Iris Morning - neutral light
# Iris theme for Rockbox, 320x240
wps: /.rockbox/wps/iris-morning.wps
sbs: /.rockbox/wps/iris-morning.sbs
font: /.rockbox/fonts/16-InTofu-Medium.fnt
iconset: /.rockbox/icons/iris-blank.bmp
viewers iconset: /.rockbox/icons/iris-blank.bmp
show icons: on
foreground color: 585460
background color: f0f0e8
line selector start color: 887c90
line selector end color: 887c90
line selector text color: f8f8f0
selector type: bar (gradient)
filetype colours: -
backdrop: -
statusbar: top
scrollbar: off
ui viewport: -
