# Iris Night - neutral dark
# Iris theme for Rockbox, 320x240
wps: /.rockbox/wps/iris-night.wps
sbs: /.rockbox/wps/iris-night.sbs
font: /.rockbox/fonts/16-Inter-Medium.fnt
iconset: /.rockbox/icons/iris-blank.bmp
viewers iconset: /.rockbox/icons/iris-blank.bmp
show icons: on
foreground color: d8dce0
background color: 181418
line selector start color: b8acc8
line selector end color: b8acc8
line selector text color: 181418
selector type: bar (gradient)
filetype colours: -
backdrop: -
statusbar: top
scrollbar: off
ui viewport: -
