# Iris - Rose Pine (dark)
# Iris theme for Rockbox, 320x240
wps: /.rockbox/wps/iris.wps
sbs: /.rockbox/wps/iris.sbs
font: /.rockbox/fonts/16-Inter-Medium.fnt
iconset: /.rockbox/icons/iris-blank.bmp
viewers iconset: /.rockbox/icons/iris-blank.bmp
show icons: on
foreground color: e0def4
background color: 191724
line selector start color: c4a7e7
line selector end color: c4a7e7
line selector text color: 191724
selector type: bar (gradient)
filetype colours: -
backdrop: -
statusbar: top
scrollbar: off
ui viewport: -
