# Iris Dawn - Rose Pine Dawn (light)
# Iris theme for Rockbox, 320x240
wps: /.rockbox/wps/iris-dawn.wps
sbs: /.rockbox/wps/iris-dawn.sbs
font: /.rockbox/fonts/16-Inter-Medium.fnt
iconset: /.rockbox/icons/iris-blank.bmp
viewers iconset: /.rockbox/icons/iris-blank.bmp
show icons: on
foreground color: 575279
background color: faf4ed
line selector start color: 907aa9
line selector end color: 907aa9
line selector text color: fffaf3
selector type: bar (gradient)
filetype colours: -
backdrop: -
statusbar: top
scrollbar: off
list separator color: dfdad9
ui viewport: -
