# Iris Dawn - Rose Pine Dawn (light)
# Iris theme for Rockbox, 320x240
wps: /.rockbox/wps/iris-dawn.wps
sbs: /.rockbox/wps/iris-dawn.sbs
font: /.rockbox/fonts/16-InTofu-Medium.fnt
iconset: /.rockbox/icons/iris-blank.bmp
viewers iconset: /.rockbox/icons/iris-blank.bmp
show icons: on
foreground color: 585078
background color: f0f0e8
line selector start color: 9078a0
line selector end color: 9078a0
line selector text color: f8f8f0
selector type: bar (gradient)
filetype colours: -
backdrop: -
statusbar: top
scrollbar: off
ui viewport: -
