# Iris - Rose Pine (dark)
# Iris theme for Rockbox, 320x240
wps: /.rockbox/wps/iris.wps
sbs: /.rockbox/wps/iris.sbs
font: /.rockbox/fonts/16-InTofu-Medium.fnt
iconset: /.rockbox/icons/iris-blank.bmp
viewers iconset: /.rockbox/icons/iris-blank.bmp
show icons: on
foreground color: d8d8e8
background color: 181420
line selector start color: c0a4e0
line selector end color: c0a4e0
line selector text color: 181420
selector type: bar (gradient)
filetype colours: -
backdrop: -
statusbar: top
scrollbar: off
ui viewport: -
